<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <h1>Maintenance Request</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 mb-4 col-md-10">
            <% if(tickets.length> 0) { for(var i=0; i < tickets.length; i++) { %>
            <h5 class="text-dark">Below is your open request that is being worked on. Please be patient.</h5>
            <h5 class="text-dark">In the meantime you can either update or close the request</h5></br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Text</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr>
                        <th scope="row"><%= i+1%></th>
                        <td>
                            <% if (tickets[i].title.length > 30) { %>
                                <%= tickets[i].title.slice(0, 30) + '...' %>
                            <% } else { %>
                                <%= tickets[i].title %>
                            <% } %>
                        </td>
                        <td>
                            <% if (tickets[i].body.length > 50) { %>
                                <%= tickets[i].body.slice(0, 50) + '...' %>
                            <% } else { %>
                                <%= tickets[i].body %>
                            <% } %>
                        </td>
                        <td>
                            <div class="col-md-6">
                                <form action="/maintenance/item/<%= tickets[i]._id %>">
                                    <input type="hidden" name="status">
                                    <button type="submit" class="btn btn-success btn-lg">View</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <% }} else { %>
            <div class="row">
                <div class="col mt-md-4">
                    <h2>You do not have any open requests at the moment</h2></br>
                    <div class="col">
                        <a href="/maintenance/add-ticket" class="btn btn-primary">
                            Create new Request here
                        </a>
                    </div>
                    </h4>
                </div>
            </div>
            <% } %>
    </div>    
</div>